@font-face {
  font-family: "Satoshi-Light";
  src: url("../fonts/Satoshi-Light.woff2") format("woff2"),
    url("../fonts/Satoshi-Light.woff") format("woff"),
    url("../fonts/Satoshi-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-LightItalic";
  src: url("../fonts/Satoshi-LightItalic.woff2") format("woff2"),
    url("../fonts/Satoshi-LightItalic.woff") format("woff"),
    url("../fonts/Satoshi-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi-Regular";
  src: url("../fonts/Satoshi-Regular.woff2") format("woff2"),
    url("../fonts/Satoshi-Regular.woff") format("woff"),
    url("../fonts/Satoshi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-Italic";
  src: url("../fonts/Satoshi-Italic.woff2") format("woff2"),
    url("../fonts/Satoshi-Italic.woff") format("woff"),
    url("../fonts/Satoshi-Italic.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi-Medium";
  src: url("../fonts/Satoshi-Medium.woff2") format("woff2"),
    url("../fonts/Satoshi-Medium.woff") format("woff"),
    url("../fonts/Satoshi-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-MediumItalic";
  src: url("../fonts/Satoshi-MediumItalic.woff2") format("woff2"),
    url("../fonts/Satoshi-MediumItalic.woff") format("woff"),
    url("../fonts/Satoshi-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi-Bold";
  src: url("../fonts/Satoshi-Bold.woff2") format("woff2"),
    url("../fonts/Satoshi-Bold.woff") format("woff"),
    url("../fonts/Satoshi-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-BoldItalic";
  src: url("../fonts/Satoshi-BoldItalic.woff2") format("woff2"),
    url("../fonts/Satoshi-BoldItalic.woff") format("woff"),
    url("../fonts/Satoshi-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi-Black";
  src: url("../fonts/Satoshi-Black.woff2") format("woff2"),
    url("../fonts/Satoshi-Black.woff") format("woff"),
    url("../fonts/Satoshi-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-BlackItalic";
  src: url("../fonts/Satoshi-BlackItalic.woff2") format("woff2"),
    url("../fonts/Satoshi-BlackItalic.woff") format("woff"),
    url("../fonts/Satoshi-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi-Variable";
  src: url("../fonts/Satoshi-Variable.woff2") format("woff2"),
    url("../fonts/Satoshi-Variable.woff") format("woff"),
    url("../fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-VariableItalic";
  src: url("../fonts/Satoshi-VariableItalic.woff2") format("woff2"),
    url("../fonts/Satoshi-VariableItalic.woff") format("woff"),
    url("../fonts/Satoshi-VariableItalic.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}

:root {
  /* Primary Colors */
  --primary-dark: #334155; /* Dark blue for headers and important elements */

  /* Secondary Colors */
  --secondary-dark: #65a30d; /* Dark green for positive actions and buttons */
  --secondary-main: #d9f99d; /* Green for success states and borders */

  /* Neutral Colors */
  --neutral-dark: #334155; /* Dark gray for text */
  --neutral-medium: #64748b; /* Medium gray for secondary text */
  --neutral-light: #94a3b8; /* Light gray for third types of texts */
  --neutral-border: #e2e8f0; /* Light gray for borders */
  --neutral-lighter: #f8fafc; /* For lighter text */

  /* Backgrounds */
  --bg-primary: #f1f5f9; /* White main background */
  --bg-secondary: #e2e8f0; /* Off-white for card backgrounds */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: var(--neutral-light);
  font-family: "Satoshi", sans-serif;
}

.container {
  width: 900px;
  height: 600px;
  background: #ffffff;
  border-radius: 10px;
}

.header {
  height: 102px;
  background: var(--primary-dark);
  border-radius: 10px 10px 0 0;
  padding: 18px 60px 10px 60px;
}

.upHeader {
  padding-bottom: 18px;
  border-bottom: 1px solid #475569;
}
.upHeader,
.downHeader {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  justify-content: center;
}

.upNavbarList,
.downNavbarList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  list-style: none;
}

.upNavbarList > li > a {
  text-decoration: none;
  font-size: 10px;
  font-weight: 500;
  color: var(--neutral-lighter);
}

.profileList {
  display: flex;
  align-items: center;
  gap: 15px;
  list-style: none;
}

.profileList > li > a {
  text-decoration: none;
}

.downHeader {
  padding-top: 9px;
}

.downHeader > h3 {
  font-size: 14px;
  color: var(--neutral-lighter);
  font-family: "Satoshi", serif;
}

.downNavbarList > li > a {
  text-decoration: none;
  font-size: 10px;
  font-weight: 500;
  color: var(--neutral-light);
}
.search-container {
  position: relative;
  width: 140px;
  height: 26px;
}

.search-input {
  width: 100%;
  padding: 6px 5px;
  border-radius: 5px;
  outline: none;
  font-weight: 500;
  font-size: 10px;
  color: var(--neutral-light);
  border: none;
  background: #1e293b;
}

.search-icon {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  max-width: 14px;
}
